<div class="col-md-4" *ngFor="let item of listGames">
  <div class="card text-center">
    <div
      class="card-header bg-dark text-white d-flex justify-content-between align-items-center"
    >
      {{ item.tittle }}
      <button class="btn btn-danger" (click)="deleteGame(item.id)">
        <i class="fa-solid fa-trash"></i>
      </button>
    </div>
    <img [src]="item.image" class="card-img-top" />
    <div class="card-body">
      <p>
        {{ item.description }}
      </p>
      <a href="" class="btn btn-info w-100">
        <i class="fa-solid fa-pen-to-square"></i> Edit
      </a>
    </div>
  </div>
</div>
